<!DOCTYPE html>
<html lang="en" ng-app="todoModule">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  <title>Todo AngularJS</title>
</head>
<body>

  <section id="todo-container" ng-controller="TodoCtrl as todo">
    <h1>TODO List</h1>
    <h2>A place to store the things you have to do!</h2>

    <input class="input" ng-model="filterTodos" id="filter-todo"type="text" placeholder="Filter your to-dos">

    <form ng-submit="todo.addItem(todo.input)">
      <div class="todo-container-todos" ng-repeat="item in todo.list | filter: filterTodos | orderBy: 'completed'"> 
   
        <p class="index">{{$index + 1}}. </p>
        <button type="button" ng-click="todo.completeItem($index, item)" class="button-complete" ng-if="item.completed === false">Complete</button>
        <p class="todo-item" ng-class="{'completed':item.completed === true}">{{item.task}}</p>
        <img ng-click="todo.deleteItem(item)" src="close.svg" class="delete-button">
      </div>

      <input class="input" ng-model="todo.input" id="add-todo" type="text" placeholder="Add your to-do">
      <button id="button-add" type="button" ng-click="todo.addItem(todo.input)" >Add</button>
    </form>
  </section>

  <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
  <script src="module.js"></script>
  <script src="controller.js"></script>
  
</body>
</html>